<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Icy Tower</title>
    <link rel="stylesheet" href="menu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rock+3D&display=swap" rel="stylesheet">
</head>

<body>
    <div class="character-face-container">
        <img src="../../images/character-face-right.png" id="right-face" width="250px">
        <div class="game-title">
            ICY TOWER
        </div>
        <img src="../../images/character-face-left.png" id="left-face" width="250px">
    </div>
    <div style="display: flex; justify-content: center;">
        <nav class="navigation">
            <a href="/startGame">START GAME</a>
            <a href="../options/options.html">OPTIONS</a>
            <a href="/records">RECORDS</a>
            <a href="/exit">EXIT</a>
        </nav>
    </div>
    <script src="menu.js"></script>
</body>

</html>