<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Icy Tower</title>
    <link rel="stylesheet" href="options.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rock+3D&display=swap" rel="stylesheet">
</head>

<body>
    <div class="character-face-container">
        <img src="../../images/character-face-right.png" id="right-face" width="250px">
        <div class="page-title">OPTIONS</div>
        <img src="../../images/character-face-left.png" id="left-face" width="250px">
    </div>

    <div style="display: flex; justify-content: center;">
        <nav class="navigation">
            <div class="option-container">
                <div class="left-side">
                    <span href="/startGame" class="option">MUSIC</span>
                </div>
                <div class="right-side">
                    <span id="music-status">ON</span>
                </div>
            </div>
            <div class="option-container">
                <div class="left-side">
                    <span class="option">HARD LEVEL</span>
                </div>
                <div class="right-side">
                    <span id="lvl-1">1</span>
                    <span id="lvl-2">2</span>
                    <span id="lvl-3">3</span>
                </div>
            </div>
            <div class="option-container">
                <div class="left-side">
                    <span class="option">CHARACTER SPEED</span>
                </div>
                <div class="right-side">
                    <span id="character-speed-1">1</span>
                    <span id="character-speed-2">2</span>
                    <span id="character-speed-3">3</span>
                </div>
            </div>
            <div class="option-container">
                <div class="left-side">
                    <span class="option">CHARACTER</span>
                </div>
            </div>
            <div class="back-button-container option-container">
                <div class="left-side">
                    <span class="option">BACK</span>
                </div>
                
            </div>

        </nav>
    </div>
    <script src="options.js"></script>
</body>
</html>